
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    background-image:url(../images/white-waves.png) ;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
h1 , h6{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
header {
    height: 28% ;
    width: 100% ;
    padding-top: 1% ;
    margin-top: 0px;
    background-color: #ffffff;
    border-bottom: 2px solid;
    border-bottom-color: #cccccc;
}
#name {
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color:#4aaaa5;
    width: 15%;
    margin-left: 270px;
    margin-bottom: 0px;
    font-size: x-large;
    color: white;
    float: left;

}
#links {
   float: right;
   margin-right: 19%;
   margin-top: 65px;
}
a {
    text-decoration: none;
    color: #777777;
    
}
.push{
    height: 50px;
}
.footer {
    height: 50px;
    border-top: 8px solid;
    border-color: #4aaaa5;
    background-color: #666666;
  }
.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}
.middle {

    width: 960px;
    margin-top: 40px;
    margin-right: 270px;
    margin-left: 270px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dddddd;
    position: relative;
    z-index: -2;

}
.content {
    margin: 2%;
}
#sectionheader {
    color: #4aaaa5;
    padding-bottom: 2%;
    border-bottom: 2px solid;
    border-color: #dddddd;

}
#pic {
    float: left; 
    margin-right: 2%;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    
    background-color: #4aaaa5;
    color: white;
    border: none;
    padding: 10px 30px;
    margin: 8px 0;
    font-size: large;
    
}
input[type=submit]:hover {
    background-color: #408f8b;
}
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.gallerypair{
    width: 200px;
    height: 200px;
    margin: 2%;
    float: left;
}

.galleryimage{
    position: relative;
    z-index:-1;
}
.gallerytext {
    background-color: #4aaaa5;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: -50px;
    float: left;
}